@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Roboto:wght@500&display=swap');

:root {
  --light-purple: rgb(107, 110, 148);
  --light-blue: azure;
  --almost-black: #3a3a3a;

  --heading-font: "Chonburi", Helvetica, sans-serif;
  --paragraph-font: "Roboto", Verdana, sans-serif;

  --heading1-small-size: 1.1em;
  --heading1-medium-size: 1.8em;
  --heading1-full-size: 2.1em;

  --heading2-small-size: 0.9em;
  --heading2-medium-size: 1.6em;
  --heading2-full-size: 1.9em;

  --paragraph-small-size: 0.9em;
  --paragraph-medium-size: 1.1em;
  --paragraph-full-size: 1.3em;

  --nav-small-size: 0.8em;
  --nav-medium-size: 1.1em;
  --nav-full-size: 1.5em;

  --footer-small-size: 0.75em;
  --footer-medium-size: 0.8em;
  --footer-full-size: 1.0em;

}

body {
    font-size: var(--paragraph-small-size);
    font-family: var(--paragraph-font);
    background-color:var(--light-blue);
    width: 25em;
    margin: auto;
}
  
h1 {
    font-family: var(--heading-font);
    font-size: var(--heading1-small-size);
    background-color: var(--light-purple);
    color: var(--light-blue);
    padding: 0.5em;
    text-align: center;
}

h2 {
    color: var(--light-purple);
}
  
.tasks-list-container {
    max-width: 500px;
    margin: auto;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-small-size);
}

.todo {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--almost-black);
    padding: 10px;
    box-sizing:border-box;
    margin: 10px 0px;
    border-radius: 0.5rem;
  
}

.new-tasks {
    padding-top: 10px;
    text-align:center;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-small-size);
    
}

#todoInput{
    width: 50%;
    font-size: var(--paragraph-small-size);
    height: 20px;
}

.status {
    display: flex;
    padding: 0.5rem;
}

.number-tasks-remaining{
    font-size: 0.50em;
}

#addBtn {
    height: 25px;
}

.complete-btn:checked {
    text-decoration: line-through;
}

@media (min-width: 43em) {
    body {
        font-size: var(--paragraph-medium-size);
        width: 35em;
    }

    h1 {
        font-size: var(--heading1-medium-size);
    }

    .tasks-list-container,
    .new-tasks {
        font-size: var(--paragraph-medium-size);
        max-width: 700px;
        margin: auto;
    }
    
    .number-tasks-remaining{
        font-size: var(--footer-medium-size);
    }

    #todoInput{
        width: 65%;
        font-size: var(--paragraph-medium-size);
        height: 26px;
    }

    #addBtn {
        height: 30px;
    }
}

@media (min-width: 62em) {
    body {
        width: 50em;  
        font-size: var(--paragraph-full-size);
    }

    h1 {
        font-size: var(--heading1-full-size);
    }

    .tasks-list-container,
    .new-tasks {
        font-size: var(--paragraph-full-size);
        max-width: 900px;
        margin: auto;
    }
    
    .number-tasks-remaining{
        font-size: var(--footer-small-size);
    }

    #todoInput{
        width: 80%;
        font-size: var(--paragraph-full-size);
        height: 38px;
        vertical-align: bottom;
    }

    #addBtn {
        padding-top: 0px;
        height: 43px;
    }
}